body {
    font-family: 'Roboto', sans-serif;
    background-color: #1d52b6;
}

.bg-gray-100 {
    background-color: #1d52b6;
}

.bg-white {
    background-color: #ffffff;
}

.text-gray-700 {
    color: #4a5568;
}

.text-blue-600 {
    color: #3182ce;
}

.text-blue-700 {
    color: #2b6cb0;
}

.hover\:bg-blue-700:hover {
    background-color: #2b6cb0;
}
